<!DOCTYPE html>
<html lang="ja">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
  </head>
  <body>
      <h1>メモアプリ</h1>

      <form method="post" action="/edit" >
        <input type="hidden" name="_method" value="PATCH">
        <input type="hidden" name="id" value="<%= @params["id"] %>">
        <div>
          <input type="text" name="title" value=<%= @params["title"] %> required>
        </div>
        <div>
          <textarea name="body" rows="10" cols="60" required><%= @params["body"] %></textarea>
        </div>
        <input type="submit" value="変更">
      </form>
  </body>
</html>
