<div>
  <button type="button">
    <a href="/todos/creator"><font size="2">追加</font></a>
  </button>
</div>

<div>
  <ul>
    <% @todos.each do |todo| %>
    <li>
      <a href="/todos/<%= todo['id'] %>"><%= todo['title'] %></a>
    </li>
    <% end %>
  </ul>
</div>
